[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
isort = "*"

[packages]
flask-sqlalchemy = "*"
pymysql = "*"
flask-admin = "*"
flask-restful = "*"
flask-sse = "*"
gunicorn = "*"
gevent = "*"
flask-cors = "*"

[requires]
python_version = "3.7"
